body{
    background-image: url("user.jpg");
    color: aliceblue;
    background-size:100%;
    background-repeat: no-repeat;
}

header{
    background: coral;
    color: cornsilk;
    text-align: center;
    font-weight: bold ;
    font-family: "Times New Roman", serif;
}
table{

    position: center;
    bottom: 0;


    left: 0;
    right: 0;
}